<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hi!!! <%= @to %></h3>
    <h4>Imported Records </h4>
    <p> <%= @successfull  %> </p>
    <h4>Unimported Records </h4>
    <p> <%= @unsuccessfull %> </p>
    
  </body>
</html>